body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(white 50%, rgb(218, 218, 218));
    height: 100vh;
}

header {
    width: 100%;
    height: 5vh;
    background-color: rgb(44, 58, 77);
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 20px;
}

a {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(211, 231, 245);
    text-shadow: 0px 0px 40px rgb(255, 255, 255);
}

#dropdown {
    height: 100%;
}

#dropbtn {
    background-color: rgb(44, 58, 77);
    color: white;
    height: 100%;
    font-size: 20px;
    border: none;
}

#dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-11%);
    background-color: rgb(44, 58, 77);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
    background-color: rgb(29, 38, 50);
}

#dropdown:hover #dropdown-content {
    display: block;
    text-align: center;
    animation: move-dropdown 0.5s;
}

@keyframes move-dropdown {
    from {
        transform: translate(-11%, -10%);
        opacity: 0;
    }

    to {
        transform: translate(-11%, 0);
    }
}

body.dark-mode {
    background: linear-gradient(rgb(49, 48, 48) 60%, black)
}

body.dark-mode > #nav-section {
    background-color: rgb(233, 236, 250);
}

body.dark-mode > #nav-section > nav > a {
    color: black;
}

body.dark-mode > #nav-section > nav > a:hover {
    text-shadow: 0px 0px 40px rgb(0, 62, 185);
}

body.dark-mode > #nav-section > nav > #dropdown > #dropbtn {
    background-color: rgb(233, 236, 250);
    color: black;
}

body.dark-mode > #nav-section > nav > #dropdown > #dropdown-content {
    background-color: rgb(233, 236, 250);
}

body.dark-mode > #nav-section > nav > #dropdown > #dropdown-content a {
    color: black;
}

body.dark-mode > #nav-section > nav > #dropdown > #dropdown-content a:hover {
    background-color: rgb(208, 208, 208);
}

#card-section.dark-mode-card > .card {
    background: radial-gradient(circle 115px at 50% 35%, rgb(240, 251, 255) 100px, rgb(20, 21, 26));
    border-color: rgb(226, 228, 255);
    color: white;
}

#card-section.dark-mode-card > .card:hover {
    box-shadow: 10px 10px rgb(53, 47, 47);
}

#card-section.dark-mode-card > .card > .button:hover {
    box-shadow: none;
}

#main-section {
    display: grid;
    grid-template-columns: minmax(0, 150px) 1fr 150px;
    grid-template-rows: 20vh 1fr;
    grid-template-areas: 
    ". filter ."
    ". cards .";
}

#filter-section {
    display: grid;
    grid-area: filter;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-template-areas: 
    "search . sort";
    align-items: center;
}

#search-section {
    grid-area: search;
    position: relative;
}

#sort-section {
    grid-area: sort;
    justify-self: right;
}

#card-section {
    display: flex;
    justify-content: space-around;
    grid-area: cards;
}

#search-content {
    border: solid 1px black;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 5px;
    height: 25px;
    width: 250px;
    transition: 0.1s;
}

#search-content:focus {
    transform: scale(101%);
}

#search-icon {
    height: 25px;
    position: absolute;
    left: 255px;
    mix-blend-mode: multiply;
    user-select: none;
    align-self: center;
}

.sort-btn {
    border-radius: 10px;
    background-color: rgb(223, 240, 255);
    border: 2px solid rgb(38, 49, 56);
    box-shadow: 2px 2px rgb(110, 128, 142);
    transition: 0.1s;
}

.sort-btn:hover {
    border-radius: 10px;
    background-color: rgb(235, 241, 249);
    cursor: pointer;
}

.sort-btn:active {
    transform: scale(90%);
}

.card {
    height: 500px;
    width: 350px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    grid-template-areas: 
    "title"
    "image"
    "desc"
    "button";
    justify-content: center;
    text-align: center;
    border: solid 5px black;
    border-radius: 15px;
    background-color: rgb(255, 255, 240);
    transition: transform 1s,
    box-shadow 0.75s;
}

.card > h1 {
    grid-area: title;
    justify-self: center;
}

.card > img {
    grid-area: image;
    justify-self: center;
    height: 150px;
    mix-blend-mode: multiply;
    transition: 1s;
    user-select: none;
}

.card > p {
    grid-area: desc;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.button {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    grid-area: button;
    align-self: center;
    height: 75px;
    width: 75px;
    border: solid 5px rgb(58, 94, 64);
    border-radius: 100%;
    background-color: rgb(211, 255, 144);
    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    transform: scale(110%);
    transform: translateY(-2px);
    box-shadow: 4px 4px rgb(175, 175, 175);
}

.button:hover > div > div {
    background-color: rgb(64, 195, 52);
}

.card:hover {
    transform: scale(110%);
    box-shadow: 10px 10px rgb(201, 201, 201);
}

.card:hover img {
    height: 200px;
    transform: translateY(-15px);
}

.button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

.button > div > div {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: rgb(182, 224, 119);
    transition: 0.5s;
}