body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 60px 1fr auto;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-area: header;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-template-areas: 
    "title nav nav";
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
}

#title {
    grid-area: title;
    padding-left: 75px;
    font-size: 25px;
}

nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
    grid-area: nav;
    justify-self: right;
    align-items: center;
    padding-right: 50px;
}

nav > a {
    color: white;
}

nav > a:hover {
    text-decoration: underline;
}

#dropdown {
    height: 100%;
    padding: 0;
}

#dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}

#dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-10%);
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
    background-color: #4d4d4d;
}

#dropdown:hover #dropdown-content {
    display: block;
    text-align: center;
}

#dropdown:hover #dropbtn {
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
}

main {
    grid-area: main;
    margin-left: 100px;
    position: relative;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas: 
    "main-title . ."
    "main-text . image";
}

main > h1 {
    grid-area: main-title;
    align-self: self-end;
    font-size: 50px;
}

main > p {
    font-size: 23px;
    grid-area: main-text;
}

main > img {
    grid-area: image;
    height: 50px;
}

aside {
    grid-area: aside;
    background-color: rgb(246, 250, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside > ul > li {
    font-size: 20px;
    padding: 10px;
}

#cinema-img {
    height: 300px;
    transform: translateY(-30%);
    position: absolute;
    right: 150px;
}

footer {
    display: flex;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 120px;
    color: white;
    justify-content: center;
    background-color: rgb(66, 68, 97);
    align-items: center;
    justify-content: end;
}

#social-container {
    display: flex;
    gap: 15px;
    user-select: none;
}

.social {
    height: 50px;
}

.social:hover {
    filter: brightness(110%);
    cursor: pointer;
}

@media (max-width: 1650px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "main-title"
        "main-text"
        "image";
    }

    #cinema-img {
        height: 200px;
        transform: translateY(0);
        transform: translateX(50%);
        position: relative;
    }
}