body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 60px 700px auto;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
}

#title {
    grid-area: title;
    padding-left: 75px;
    font-size: 25px;
}

#navigation {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    padding: 0;
    right: -450px;
    gap: 25px;
    padding-top: 50px;
    font-size: 25px;
    transition: 0.5s;
    z-index: 2;
}

nav > a {
    color: white;
}

nav > a:hover {
    text-decoration: underline;
}

#navigation.active {
    right: 0;
}

#ham-menu {
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 10px;
    z-index: 2;
}

#ham-menu:hover {
    cursor: pointer;
}

#ham-menu > span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

#ham-menu > span:nth-child(1) {
    top: 25%;
}

#ham-menu > span:nth-child(3) {
    top: 75%;
}

#ham-menu.active {
    position: fixed;
    right: 0;
}

#ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#ham-menu.active span:nth-child(2) {
    opacity: 0;
}

#ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#dropdown {
    height: 50px;
    width: 100%;
}

#dropbtn {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 1em;
    border: none;
    transition: 0.5s;
}

#dropbtn:hover {
    background-color: rgb(29, 38, 50);
}

#dropdown-content {
    display: none;
    position: absolute;
    transform: translate(-99%, -32%);
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#dropdown-content > a {
    color: white;
    padding: 12px 16px;
    display: block;
}

#dropdown-content > a:hover {
    background-color: rgb(29, 38, 50);
}

#dropdown:hover > #dropdown-content {
    display: block;
    text-align: center;
    animation: move-dropdown 0.5s;
}

@keyframes move-dropdown {
    from {
        transform: translate(-50%, -32%);
        opacity: 0;
    }

    to {
        transform: translate(-99%, -32%);
        opacity: 100%;
    }
}

main {
    grid-area: main;
    margin-left: 100px;
    position: relative;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas: 
    "main-title . ."
    "main-text . image";
}

main > h1 {
    grid-area: main-title;
    align-self: self-end;
    font-size: 50px;
}

main > p {
    font-size: 23px;
    grid-area: main-text;
}

main > img {
    grid-area: image;
    height: 50px;
}

aside {
    grid-area: aside;
    background-color: rgb(246, 250, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside > h2 {
    font-size: 30px;
}

aside > ul > li {
    font-size: 20px;
    padding: 10px;
}

#cinema-img {
    height: 300px;
    transform: translateY(-30%);
    position: absolute;
    right: 150px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 30px;
    grid-template-areas: 
    "form"
    "socials"
    "copyright";
    grid-area: footer;
    color: white;
    background-color: rgb(66, 68, 97);
}

form {
    display: flex;
    flex-direction: column;
    justify-self: left;
    grid-area: form;
    margin: 15px 15px 15px 75px;
}

form > label {
    padding: 5px;
}

.form-input {
    padding: 5px;
    border-radius: 5px;
}

#form-text {
    text-align: start;
    height: 100px;
    min-width: 300px;
}

#form-message {
    opacity: 0;
    transform: scale(50%);
    transition: 0.1s;
}

#social-container {
    display: flex;
    gap: 15px;
    user-select: none;
    grid-area: socials;
    justify-self: center;
}

#form-submit {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 10px;
    background: linear-gradient(to right bottom, white, rgb(243, 252, 255));
    transition: 0.2s;
}

#form-submit:hover {
    background: linear-gradient(to right bottom, white, rgb(212, 244, 255));
    cursor: pointer;
}

#form-submit:active {
    background: linear-gradient(to right bottom, rgb(230, 249, 255), rgb(184, 237, 255));
    transform: scale(97%);
}

.social {
    height: 35px;
}

.social:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#copyright {
    grid-area: copyright;
    justify-self: center;
    margin: 0;
}

@media (max-width: 1650px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "main-title"
        "main-text"
        "image";
    }

    #cinema-img {
        height: 200px;
        transform: translateY(0);
        transform: translateX(50%);
        position: relative;
    }
}

@media (max-width: 1150px) {
    aside > ul > li {
    font-size: 18px;
    }
}