body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 60px 1fr auto;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    grid-area: header;
    align-items: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
}

#title {
    grid-area: title;
    padding-left: 75px;
    font-size: 25px;
}

#navigation {
    display: flex;
    grid-area: nav;
    justify-self: right;
    align-items: center;
    padding-right: 50px;
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    padding: 0;
    right: -450px;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    padding-right: 0;
    font-size: 25px;
    transition: 0.5s;
}

nav > a {
    color: white;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    grid-area: main;
    margin-left: 100px;
    position: relative;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas: 
    "main-title . ."
    "main-text . image";
}

main > h1 {
    grid-area: main-title;
    align-self: self-end;
    font-size: 50px;
}

main > p {
    font-size: 23px;
    grid-area: main-text;
}

main > img {
    grid-area: image;
    height: 50px;
}

aside {
    grid-area: aside;
    background-color: rgb(246, 250, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside > ul > li {
    font-size: 20px;
    padding: 10px;
}

#cinema-img {
    height: 300px;
    transform: translateY(-30%);
    position: absolute;
    right: 150px;
}

footer {
    display: flex;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 120px;
    color: white;
    justify-content: center;
    background-color: rgb(66, 68, 97);
    align-items: center;
    justify-content: end;
}

#social-container {
    display: flex;
    gap: 15px;
    user-select: none;
}

.social {
    height: 50px;
}

.social:hover {
    filter: brightness(110%);
    cursor: pointer;
}

@media (max-width: 1650px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "main-title"
        "main-text"
        "image";
    }

    #cinema-img {
        height: 200px;
        transform: translateY(0);
        transform: translateX(50%);
        position: relative;
    }
}

@media (max-width: 1150px) {
    aside > ul > li {
    font-size: 18px;
    }
}


header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#navigation {
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    padding: 0;
    right: -450px;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    padding-right: 0;
    font-size: 25px;
    transition: 0.5s;
}

#navigation.active {
    right: 0;
}

#ham-menu {
    height: 50px;
    width: 50px;
    justify-self: right;
    grid-area: ham-menu;
    position: relative;
    margin-right: 10px;
    z-index: 2;
}

#ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

#ham-menu span:nth-child(1) {
    top: 25%;
}

#ham-menu span:nth-child(3) {
    top: 75%;
}

#ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#ham-menu.active span:nth-child(2) {
    opacity: 0;
}

#ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
